# Byte-compiled / optimized / C extensions
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Output files
/output/

# IDE settings
.idea/
.vscode/\n# Ignore local build artifacts\npackage/

# Ignore excel temporary files
input/.~lock.*.xlsx#
input/*.xlsx

