# This is a GitHub Actions workflow to automate the deployment of the Lambda function.

name: Deploy Lambda to AWS

on:
  # This workflow triggers on any push to the main branch.
  push:
    branches:
      - "lucas-format-extrator-v2"

jobs:
  deploy:
    name: Build and Deploy Lambda
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Build Package
        run: ./build_lambda_package.sh

      - name: Upload Package to S3
        run: |
          aws s3 cp lucas-format-extractor-lambda.zip s3://${{ secrets.S3_CODE_BUCKET }}/lucas-format-extractor-lambda.zip

      - name: Update Lambda Function Code
        run: |
          aws lambda update-function-code \
            --function-name lucas-format-extractor \
            --s3-bucket ${{ secrets.S3_CODE_BUCKET }} \
            --s3-key lucas-format-extractor-lambda.zip